html {
  font-size: 62.5%; }

body {
  border-top: 0.5rem solid #ff44bd;
  color: #483d8b;
  font-size: 1.4rem; }

h1 {
  font-size: 2.4rem; }

h2 {
  background-color: #483d8b;
  color: #fff;
  display: inline-block;
  padding: .25rem 1rem; }

.info-box--bio {
  position: relative; }
  @media (min-width: 75em) {
    .info-box--bio p {
      width: 50%; } }

section span {
  font-weight: bold; }

.leukemia-section {
  display: flex;
  align-items: center;
  width: 50%; }
  .leukemia-section img {
    height: 2rem;
    padding-right: 5px; }

.avatar {
  display: none; }
  @media (min-width: 62em) {
    .avatar {
      display: block; } }
  .avatar__wrapper .avatar {
    border-radius: 100%;
    height: 25rem;
    position: absolute;
    right: 2rem;
    top: 4rem; }
