.info-box--bio {
  position: relative;

  h2, p {
    width: 50%;
  }
}

section {

  span {
    font-weight: bold;
  }
}

.leukemia-section {
  display: flex;
  align-items: center;
  width: 50%;

  img {
    height: 2rem;
    padding-right: 5px;
  }
}

.avatar {

  &__wrapper {

   .avatar {
      border-radius: 100%;
      height: 15rem;
      padding: 2rem 0;
      position: absolute;
      right: 2rem;
      top: 4rem;
    }
  }
}
