@import '../../_app.scss';

.info-box__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include breakpoint(small) {
    flex-direction: row;
  }
}

.info-box {
  flex: 1;
  padding: 1rem 2rem;
  border-bottom: 1px solid $grey;

  @include breakpoint(medium) {
    border: .1rem solid $black;
    box-shadow: 1rem 1rem 0rem $pink;
    margin: 2rem 2rem 2rem 0;
    padding: 2rem;

    &:last-child {
      margin-left: 2rem;
    }
  }

  h2 {
    margin: 0;
  }

}
