html {
  font-size: 62.5%; }

body {
  border-top: 0.5rem solid #ff44bd;
  color: #483d8b;
  font-size: 1.4rem; }

h1 {
  font-size: 2.4rem; }

h2 {
  background-color: #483d8b;
  color: #fff;
  display: inline-block;
  padding: .25rem 1rem; }

.info-box__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%; }
  @media (min-width: 48em) {
    .info-box__wrapper {
      flex-direction: row; } }
  @media (min-width: small) {
    .info-box__wrapper {
      flex-direction: row; } }

.info-box {
  flex: 1;
  padding: 1rem 2rem;
  border-bottom: 1px solid #f3f3f3; }
  @media (min-width: 62em) {
    .info-box {
      border: 0.1rem solid #000;
      box-shadow: 1rem 1rem 0rem #f3f3f3;
      margin: 2rem 2rem 2rem 0;
      padding: 2rem; }
      .info-box:last-child {
        margin-left: 2rem; } }
  .info-box h2 {
    margin: 0; }
