@import '../../_app.scss';

.overlay {
  transition: all 250ms linear;

  &--open {
    background-color: rgba(255, 60, 190, 0.6);
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
}

.contact-container {
  background-color: $blue;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23ec3dae' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  box-shadow: 2px 1px 5px #757575;
  display: flex;
  height: 0;
  position: relative;
  opacity: 0;
  top: 0;
  transition: all 250ms linear;
  width: 100%;
  z-index: 999;

  @include breakpoint(medium) {
    height: 100%;
    width: 20rem;
    position: absolute;
    left: -5000px;
  }

  &__inner {
    display: flex;
    width: 100%;
  }

  &__list {
    align-items: center;
    display: flex;
    justify-content: space-between;
    line-height: 25px;
    list-style: none;
    padding: 0 2rem;
    width: 100%;

    @include breakpoint(medium) {
      align-items: flex-start;
      flex-direction: column;
      justify-content: normal;
    }

    li {
      padding-bottom: 1rem;
    }

    a {
      background-color: $blue;
      border: 1px solid $white;
      color: $white;
      letter-spacing: .25rem;
      padding: .5rem 1rem;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        background-color: $darkSlateBlue;
      }
    }
  }

  &--visible {
    left: 0;
    opacity: 1;
    height: 10rem;

    @include breakpoint(medium) {
      height: 100%;
    }
  }
}
