$darkSlateBlue: #483d8b;
$grey: #f3f3f3;

$white: #fff;
$black: #000;

html {
    font-size: 62.5%;
}

body {
    border-top: .5rem solid #ff44bd;
    font-size: 1.4rem;
}

h1 {
    font-size: 2.4rem;
}
